.h1() {
	font-family: 'Meta Serif Pro';
	font-size: 2.75rem;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}

.h2() {
	font-family: 'Meta Serif Pro';
	font-size: 2.125rem;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}

.h3() {
	font-family: 'Meta Serif Pro', serif;
	font-size: 1.375rem;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
}

.b1() {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.375rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.b2() {
	font-family: 'Fira Sans', sans-serif;
	font-size: 0.8125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.body-publications() {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.h-publications() {
	font-family: 'Meta Serif Pro', serif;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
}

.h2-publications() {
	font-family: 'Meta Serif Pro', serif;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
}

.nav-item() {
	font-family: 'Meta Serif Pro', serif;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
}

.label1() {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.label2() {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.label3() {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.code() {
	font-family: 'Fira Mono', monospace;
	font-size: 0.9375rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.h-stat() {
	font-family: 'Fira Sans', sans-serif;
	font-size: 4.3125rem;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}

.b-stat() {
	font-family: 'Meta Serif Pro', serif;
	font-size: 8.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}
